.container .sidebar{
  background: whitesmoke;
  position: fixed;
  width:350px;
  height:94%;
  margin-left:28px;
  margin-top:50px;
  padding:10px;
}

.sidebar a
{
  text-decoration: none;
  color: rgb(189, 178, 188);
}

.sidebar a:hover
{
  color: #1642bd;
  font-weight: 500;
}

#heading
{
  margin-top: 3px;
  margin-left: 10px;
  font-size: 20px;;
  color: #ca20ec;
}

hr
{
border: 1px solid rgb(213, 211, 211);
}

#title
{
  font-size: 20px;;
}

.teamslist
{
  margin-left: 5px;
}

.subList
{
  margin-left: 10px;
  padding:5px;
}
#Nav
{
  color: black;
}
input{
  width:250px;
  margin-left:25px;
  height:40px;
  border: none;
  border-top: 3px solid white;
  background-color: rgb(216, 215, 215);
  padding:15px;
}
.mention{
  margin-top:290px;
}
