nav {
  width: 100px;
  height: 95%;
  border-right: 4px solid rgb(244, 244, 244);
  background-color: rgb(207, 207, 216);
  position: fixed;
  margin-top: 50px;
  background-color: rgb(64, 81, 130);
}
li{
  list-style: none;
  padding:15px;
  margin-left:8px;
  color:azure;
}
.icons{
  display: flex;
  margin-left:25px;
  flex-direction: column;
  color:rgb(220, 220, 220);
  padding:0;
  height:10px;
}
div.a.hover{
  background-color: blueviolet;
}
a{
  color:azure;
}


