
<div class="aside">
<div class="lists">
<li class="Gen">General</li>
<li>Post</li>
<li>Wiki</li>
<li><mat-icon>add</mat-icon></li>
</div>
<hr>

  <input placeholder="Start a new conversation type @ to mention someone">
<br>

<div class="icons">
  <li><mat-icon>edit</mat-icon></li>
  <li> <mat-icon>attach_file</mat-icon></li>
  <li> <mat-icon>gif</mat-icon></li>
  <li><mat-icon>images</mat-icon></li>
  <li><mat-icon> insert_emoticon</mat-icon></li>
  <li><mat-icon>library_add</mat-icon></li>
  <li><mat-icon>settings_voice</mat-icon></li>
  <li><mat-icon>more_horiz</mat-icon></li>
  <li class="send"><mat-icon>send</mat-icon></li>
</div>
</div>

