.wrapper{
  width:70%;
  margin-left:445px;
  margin-top:50px;
  margin-right: 0;
  position: fixed;

}
  hr{
    margin-top:20px;
    margin-right: 0;
    border-bottom: 2px solid rgb(208, 208, 208);
  }
  li{
    list-style: none;
    display: inline;
    padding: 10px;
  }
  #title{

    font-size: 20px;
  }
input{
position: relative;
width:70%;
border:1px solid whitesmoke;
border-bottom: 3px solid rgb(29, 3, 177);
height:50px;
margin-top:585px;
margin-left:125px;
padding:20px;
font-size:15px;
text-align: center;

}
.icons{
  padding:10px;
  width:715px;
  margin-left:100px;

}
.send{
margin-left: 295px;
}
.list{
  padding:10px;
  width:750px;
}
